a {
    color: black;
    text-decoration: none;
}

.rainbow {
    animation-name: changing-colors;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes changing-colors {
    0% {color: red; font-family: "Comic Sans MS", cursive, sans-serif;}
    25% {color: yellow; font-family: Impact, Charcoal, sans-serif;}
    50% {color: blue; font-family: "Comic Sans MS", cursive, sans-serif;}
    75% {color: green; font-family: Impact, Charcoal, sans-serif;}
    100% {color: purple; font-family: "Comic Sans MS", cursive, sans-serif;}
}